aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
numpy
openai
playsound
PyAudio
pycairo
pydantic
PyGObject
requests
SpeechRecognition
tqdm
typing_extensions
urllib3
voicevox_core @ file:///home/fujii/Prunus/voicevox_core-0.14.4+cpu-cp38-abi3-linux_x86_64.whl
yarl
