aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
distro==1.9.0
exceptiongroup==1.2.2
frozenlist==1.4.1
generativeai-for-python3.8==0.0.1
google-ai-generativelanguage==0.6.5
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.62.3
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.8
jiter==0.5.0
multidict==6.0.5
numpy==1.24.4
openai==1.42.0
playsound==1.3.0
proto-plus==1.24.0
protobuf==4.25.4
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycairo==1.26.1
pydantic==1.10.18
PyGObject==3.48.2
pyparsing==3.1.4
requests==2.32.3
rsa==4.9
sniffio==1.3.1
SpeechRecognition==3.10.4
tqdm==4.66.5
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.2
voicevox_core @ file:///home/fujii/Prunus/voicevox_core-0.14.4+cpu-cp38-abi3-linux_x86_64.whl#sha256=9af0bed1a5f0aa3da5ed1c149e6a7f85666012d461ade5db9b025b4532c92e94
yarl==1.9.4
